.env
node_modules
mysql
wiki
/next/users/data/
redis
/sandbox.md
/log/
/test.md
/sandbox2.md
/next/public/games/mitite_shooting_simulator_build/

# ブランチ統合するまで一時的に追加
/next/pages/limited/tricks/
/next/generated/
